@import url(https://fonts.googleapis.com/css?family=Rajdhani:300);
html, body {
  
  background: url(http://aaronchuo.cc/assets/images/ironwall.jpg) #212121 top center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  
  letter-spacing: .1em;
}
body {
 }
* {box-sizing: border-box;
}

.maxcontainer{
  display: flex;
  justify-content: center;
  background-color: inherit;
}
.contacthead{
  
  text-align: center;
  color: white;
  font-size: 5vw;
  font-family: 'Rajdhani', sans-serif;
  /* margin-top: -25px; */
  margin-bottom: -20px;
  text-align: center;
  animation: neonGlow 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 22px rgba(255, 255, 255, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 60px rgba(66, 220, 219, 0.8), 0 0 80px rgba(66, 220, 219, 0.5), 0 0 100px rgba(66, 220, 219, 0.5), 0 0 140px rgba(66, 220, 219, 0.5), 0 0 200px rgba(66, 220, 219, 0.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8), 0 0 8px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(66, 220, 219, 0.8), 0 0 30px rgba(66, 220, 219, 0.8), 0 0 40px rgba(66, 220, 219, 0.8), 0 0 50px rgba(66, 220, 219, 0.5), 0 0 80px rgba(66, 220, 219, 0.5);
  }
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.scifiUI2 {
  width: 60vw;
  margin: 50px auto;
  font-size: 18px;
  color: #00bebe;
  font-family: 'Rajdhani', sans-serif;
}
.scifiUI2 * {
  transition: all 250ms ease-in-out;
  outline: none;
}
.scifiUI2 :before,
.scifiUI2 :after {
  transition: all 200ms ease-in-out;
  content: '';
}
.scifiUI2 .inline {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.scifiUI2 .inline label {
  padding-right: 5px;
}
.scifiUI2 input[type=text] {
  height: 50px;
  border: 1px solid #00bebe;
  padding: 0 10px;
  background: transparent;
}
.scifiUI2 input[type=text]:hover {
  box-shadow: 0 0 8px #00bebe inset, 0 0 8px #00bebe;
  border: 1px solid #00dcdc;
}
.scifiUI2 input[type=text]:focus {
  box-shadow: 0 0 20px #00dcdc inset, 0 0 10px #00dcdc, 0 0 20px white;
  border: 1px solid #00dcdc;
  background: #00dcdc;
  color: #212121;
}

.scifiUI2 textarea{
  height: 50px;
  border: 1px solid #00bebe;
  padding: 0 10px;
  background: transparent;
}
.scifiUI2  textarea:hover {
  box-shadow: 0 0 8px #00bebe inset, 0 0 8px #00bebe;
  border: 1px solid #00dcdc;
}
.scifiUI2  textarea:focus {
  box-shadow: 0 0 20px #00dcdc inset, 0 0 10px #00dcdc, 0 0 20px white;
  border: 1px solid #00dcdc;
  background: #00dcdc;
  color: #212121;
}
.scifiUI2 button {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 50px;
  border: 1px solid #00bebe;
  background: rgba(0, 190, 190, 0.2);
}
.scifiUI2 button:hover {
  box-shadow: 0 0 8px #00bebe inset, 0 0 8px #00bebe;
  border: 1px solid #00dcdc;
  color: #00dcdc;
  background: rgba(0, 220, 220, 0.3);
}
